# Rust default
target/
**/target/

**/*.rs.bk

models_database/diesel.toml
nats/nats-server.conf


# IDEs & Editors
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Binaries
*.exe
*.dll
*.so
*.dylib
models_database/models_database.sqlite 
